h1{
  font-weight: 600;
  font-size: 45px;
  margin: 10px;
  margin-bottom: 20px;
}

input{
  width: 100%;
}

.item-container{
  text-align: left;
}

.dk-row{
  margin: 10px 5px;
}

.dk-bt{
  min-width: 80px;
}